*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    

}

.grid-container{

    display: grid;
    height: 100vh;
    border: 10px solid #14a76c;
    grid-template-columns: 100%;
    grid-template-rows: 15% 90%;

}

.grid-item-1{

    display: grid;
    grid-template-columns: 1fr 1fr;   
    border: 5px solid #ff652f;
    padding: 10px;
    align-items: center;
}



#logo{
    float: left;
    width: 100px;
    margin: auto;
     
}

#titulo{
    text-align: center;
    margin: auto;
    font-size: max(0.8em,5vw);
}

.grid-item-2{
    display: grid;
    grid-template-rows: 1fr;
}

#p1{
    text-align: center;
}

#fnun{
    height: 50px;
    width: 50%;
}

#botao_adicionar{
    width: 50%;
    height: 50px;
}

.item-1{
    display: flex;
}

#flista{
    width: 100%;
    background-color: lightgreen;
    
}

